*, ::before, ::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 15px;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.618em;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}

p {
  margin: 1em 0 0 0;
  line-height: 1.6;
}

.deck {
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  color: #303030;
  -webkit-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
}

/* Hide deck and slide content until bespoke.js has added classes */
.deck:not(.bespoke-parent), .deck section:not(.bespoke-slide) {
  display: none;
}

.bespoke-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
}

.bespoke-slide {
  opacity: 0; /* force opacity to start at 0 to avoid transition on load when using bespoke-scale */
  overflow: hidden;
  position: absolute;
  width: 640px;
  margin-left: -320px;
  top: 50%;
  height: 360px;
  margin-top: -180px;
  left: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
            -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  padding: 2rem;
  transition: all 300ms ease;
}

.bespoke-active {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

.bespoke-slide.title {
  font-size: 1.2em;
}

.bespoke-slide.title p {
  text-align: center;
}

.bespoke-slide.media {
  display: block;
  padding: 0;
}

.bespoke-slide.media video,
.bespoke-slide.media iframe {
  width: 100%;
  height: 100%;
}

.bespoke-slide.media img {
  width: 100%;
}

p.credit {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 1;
  color: #fff;
  margin: 0.75em;
  font-size: 0.5em;
  z-index: 100;
}

p.credit a {
  color: inherit;
}

audio + p.credit {
  color: inherit;
}
