* {
  -moz-box-sizing: inherit;
       box-sizing: inherit;
}

html {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  text-align: center;
}

p {
  margin: 0.5em 0;
  font-size: 0.75em;
}

p.title {
  margin: 0.25em 0;
  font-size: 1em;
  text-align: center;
}

.deck {
  font-family: Arial, sans-serif;
  font-size: 2em;
  line-height: 1.6;
  color: #303030;
  /* enable kerning using forward-compatible CSS */
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/* Hide deck and slide content until bespoke.js has added classes */
.deck:not(.bespoke-parent),
.deck section:not(.bespoke-slide) {
  display: none;
}

.bespoke-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

.bespoke-slide {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 640px;
  margin-left: -320px;
  height: 360px;
  margin-top: -180px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  padding: 1em;
  display: -webkit-flex;
          display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.bespoke-active {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

.media {
  display: block;
  padding: 0;
}

.media video,
.media iframe,
.vimeo-shell {
  width: 100%;
  height: 100%;
}

p.credit {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 1;
  color: #ffffff;
  padding: 0.25em 0.75em;
  font-size: 0.375em;
  z-index: 100;
}

p.credit a {
  color: inherit;
}

audio + p.credit {
  color: inherit;
}

/* use the following three rules for hiding the playbar in Vimeo; you must wrap content in .vimeo-shell div */
.media {
  overflow: hidden;
}

.vimeo-shell {
  position: relative;
  width: 100%;
  height: 200%;
}

.vimeo-shell iframe {
  position: relative;
  top: -25%;
}

.vimeo-shell p.credit {
  bottom: 50%;
}
