body {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #303030;
}

section {
  display: none;
}

.bespoke-parent {
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.bespoke-slide {
  width: 640px;
  height: 360px;
  position: absolute;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  padding: 1em;
  margin: 1em;
}

section.bespoke-slide {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: block;
}

.bespoke-slide.video {
  padding: 0 0 1em 0;
}

p.credit {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  text-align: right;
  padding: 0 0.5em 0.25em 0.5em;
  font-size: 0.75em;
  width: 100%;
  z-index: 100;
}

p.credit a {
  color: #ffffff;
}

.bespoke-inactive {
  opacity: 0;
}

.bespoke-active {
  opacity: 1;
}
